{% extends 'mainprofile.html' %}
{% block content %}
{%load static%}


<div class="container">
	<div class="row">
		<div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					
					<h6 class="title">Hobbies and Interests</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

							
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Hobbies:</span>
									<span class="text">{{user.hobbiesandinterests.hobbies}}
														</span>
								</li>
								<li>
									<span class="title">Favourite TV Shows:</span>
									<span class="text">{{user.hobbiesandinterests.fav_tv_shows}}</span>
								</li>
								<li>
									<span class="title">Favourite Movies:</span>
									<span class="text">{{user.hobbiesandinterests.fav_movies}}</span>
								</li>
								<li>
									<span class="title">Favourite Games:</span>
									<span class="text">{{user.hobbiesandinterests.fav_games}}</span>
								</li>
							</ul>
							
							<!-- ... end W-Personal-Info -->
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

						
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Favourite Music Bands / Artists:</span>
									<span class="text">{{user.hobbiesandinterests.fav_music}}</span>
								</li>
								<li>
									<span class="title">Favourite Books:</span>
									<span class="text">{{user.hobbiesandinterests.fav_books}}</span>
								</li>
								<li>
									<span class="title">Favourite Writers:</span>
									<span class="text">{{user.hobbiesandinterests.fav_writers}}</span>
								</li>
								<li>
									<span class="title">Other Interests:</span>
									<span class="text">{{user.hobbiesandinterests.other_interests}}</span>
								</li>
							</ul>
							
							<!-- ... end W-Personal-Info -->
						</div>
					</div>
				</div>
			</div>
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Education and Employement</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

							
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">{{user.educationhistory.titile_place1}}</span>
									<span class="date">{{user.educationhistory.period1}}</span>
									<span class="text">{{user.educationhistory.description1}}</span>
								</li>
								<li>
									<span class="title">{{user.educationhistory.titile_place2}}</span>
									<span class="date">{{user.educationhistory.period2}}</span>
									<span class="text">{{user.educationhistory.description2}}</span>
								</li>
								<li>
										<span class="title">{{user.educationhistory.titile_place3}}</span>
										<span class="date">{{user.educationhistory.period3}}</span>
										<span class="text">{{user.educationhistory.description3}}</span>
								</li>
							</ul>
							
							<!-- ... end W-Personal-Info -->

						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

							
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">{{user.emplyementhistory.etitile_place1}}</span>
									<span class="date">{{user.emplyementhistory.eperiod1}}</span>
									<span class="text">{{user.emplyementhistory.edescription1}}</span>
								</li>
								<li>
										<span class="title">{{user.emplyementhistory.etitile_place2}}</span>
										<span class="date">{{user.emplyementhistory.eperiod2}}</span>
										<span class="text">{{user.emplyementhistory.description2}}</span>
								</li>
								<li>
										<span class="title">{{user.emplyementhistory.etitile_place3}}</span>
										<span class="date">{{user.emplyementhistory.eperiod3}}</span>
										<span class="text">{{user.emplyementhistory.edescription3}}</span>
								</li>
							</ul>
							
							<!-- ... end W-Personal-Info -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personal Info</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">

					
					<!-- W-Personal-Info -->
					
					<ul class="widget w-personal-info">
						<li>
							<span class="title">About Me:</span>
							<span class="text">{{user.userprofile.about_me}}
												</span>
						</li>
						<li>
							<span class="title">Birthday:</span>
							<span class="text">{{user.userprofile.datetimepicker}}</span>
						</li>
						<li>
							<span class="title">Birthplace:</span>
							<span class="text">{{user.userprofile.birthplace}}</span>
						</li>
						<li>
							<span class="title">Lives in:</span>
							<span class="text">{{user.userprofile.lives_in}}</span>
						</li>
						<li>
							<span class="title">Occupation:</span>
							<span class="text">{{user.userprofile.occupation}}</span>
						</li>
						<li>
							<span class="title">Joined:</span>
							<span class="text">{{user.date_joined}}</span>
						</li>
						<li>
							<span class="title">Gender:</span>
							<span class="text">{{user.userprofile.gender}}</span>
						</li>
						<li>
							<span class="title">Status:</span>
							<span class="text">{{user.userprofile.relationship_status}}</span>
						</li>
						<li>
							<span class="title">Email:</span>
							<a href="#" class="text">{{user.email}}</a>
						</li>
						<li>
							<span class="title">Website:</span>
							<a href="#" class="text">{{user.userprofile.website}}</a>
						</li>
						<li>
							<span class="title">Phone Number:</span>
							<span class="text">{{user.userprofile.phone_number}}</span>
						</li>
						<li>
							<span class="title">Religious Belifs:</span>
							<span class="text">{{user.userprofile.religious_belifs}}</span>
						</li>
						<li>
							<span class="title">Political Incline:</span>
							<span class="text">{{user.userprofile.political_incline}}</span>
						</li>
					</ul>
					
					<!-- ... end W-Personal-Info -->
					<!-- W-Socials -->
					
					<div class="widget w-socials">
						<h6 class="title">Other Social Networks:</h6>
						<a href="{{user.userprofile.facebook}}" class="social-item bg-facebook">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
							Facebook
						</a>
						<a href="{{user.userprofile.twitter}}" class="social-item bg-twitter">
							<i class="fab fa-twitter" aria-hidden="true"></i>
							Twitter
						</a>
						<a href="{{user.userprofile.RSS}}" class="social-item bg-dribbble">
							<i class="fab fa-dribbble" aria-hidden="true"></i>
							Dribbble
						</a>
					</div>
					
					
					<!-- ... end W-Socials -->
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}