{% extends 'mainprofile.html' %}
{% block content %}
{%load static%}



<div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h6 title">{{user.userprofile.username}}’s Friends ({{friends_list_p.count}})</div>
                        <form class="w-search">
                            <div class="form-group with-button">
                                <input class="form-control" type="text" placeholder="Search Friends...">
                                <button>
                                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                                </button>
                            </div>
                        </form>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Friends -->
    
    <div class="container">
        <div class="row">
            {%for friends in friends_list_p%}
            <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ui-block">
                    
                    <!-- Friend Item -->
                    
                    <div class="friend-item">
                        <div class="friend-header-thumb">
                                {%if friends.user.userprofile.h_photo.url != "/static/img/blank-user.png"%}
                                <img src="{{friends.user.userprofile.h_photo.url}}" alt="author" width="318" height="122" >
                                {%else%}
                                <img src="/static/img/blank-user.png" alt="author" width="318" height="122" >
                                {%endif%}
                        </div>
                    
                        <div class="friend-item-content">
                    
                            <div class="more">
                                <svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                <ul class="more-dropdown">
                                  
                                            <li>
                                                <a href="/friends/unfriend/{{friends.user.userprofile.id}}">Unfriend</a>
                                            </li>
                                            <!-- <li>
                                                <a href="#">Report Profile</a>
                                            </li>
                                            <li>
                                                <a href="#">Block Profile</a>
                                            </li> -->
                    
                                </ul>
                                
                                
                            </div>
                            <div class="friend-avatar">
                                <div class="author-thumb">
                                        {%if friends.user.userprofile.p_photo.url != "/static/img/blank-user.png"%}
                                        <img src="{{friends.user.userprofile.p_photo.url}}" alt="author" width="92" height="92">
                                        {%else%}
                                        <img src="/static/img/blank-user.png" alt="author" width="92" height="92">
                                        {%endif%}
                                </div>
                                <div class="author-content">
                                    <a href="/friends/showresult/{{friends.user.userprofile.id}}" class="h5 author-name">{{friends.user.userprofile.username}}</a>
                                    <div class="country">{{friends.user.userprofile.city}}, {{friends.user.userprofile.country}}</div>
                                </div>
                            </div>
                    
                            <div class="swiper-container" data-slide="fade">
                                <div class="swiper-wrapper">
                                    <!-- <div class="swiper-slide">
                                        <div class="friend-count" data-swiper-parallax="-500">
                                            <a href="#" class="friend-count-item">
                                                <div class="h6">52</div>
                                                <div class="title">Friends</div>
                                            </a>
                                            <a href="#" class="friend-count-item">
                                                <div class="h6">240</div>
                                                <div class="title">Photos</div>
                                            </a>
                                            <a href="#" class="friend-count-item">
                                                <div class="h6">16</div>
                                                <div class="title">Videos</div>
                                            </a>
                                        </div>
                                        <div class="control-block-button" data-swiper-parallax="-100">
                                            <a href="#" class="btn btn-control bg-blue">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </a>
                    
                                            <a href="#" class="btn btn-control bg-purple">
                                                <svg class="olymp-chat---messages-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                            </a>
                    
                                        </div>
                                    </div> -->
                    
                                    <div class="swiper-slide">
                                        <p class="friend-about" data-swiper-parallax="-500">
                                                {{friends.user.userprofile.about_me}}
                                        </p>
                    
                                        <!-- <div class="friend-since" data-swiper-parallax="-100">
                                            <span>Friends Since:</span>
                                            <div class="h6">December 2014</div>
                                        </div> -->
                                    </div>
                                </div>
                    
                                <!-- If we need pagination -->
                                <!-- <div class="swiper-pagination"></div> -->
                            </div>
                        </div>
                    </div>
                    
                    <!-- ... end Friend Item -->			</div>
            </div>
           {%endfor%}
            
        </div>
    </div>





{%endblock content%}