{% extends 'mainprofile.html' %}
{% block content %}
{% if user.is_authenticated %}
{%load static%}



<div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				
				<!-- News Feed Form  -->
				
				
				
				<!-- ... end News Feed Form  -->			</div>



				<!-- using this for show posts -->
				
				{% for post in all_posts %} 
				<div class="ui-block">
						
						<article class="hentry post">
							
							<div class="post__author author vcard inline-items">
								{%if post.uploaded_by.p_photo.url != "/static/img/blank-user.png"%}
								<img src="{{post.uploaded_by.p_photo.url}}" alt="author">
								{%else%}
								<img src="/static/img/blank-user.png" alt="author">
								{%endif%}
								<div class="author-date">
									
									<a class="h6 post__author-name fn" href="/friends/showresult/{{post.uploaded_by.id}}">{{post.uploaded_by.username}}</a>
									
									<div class="post__date">
										<time class="published" datetime="{{user.userpost.post_cr_date}}">
											{{post.post_cr_date}}
										</time>
									</div>
								</div>
							
								{% if user == post.uploaded_by.user%}
								<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
									<ul class="more-dropdown">
										<li>
											<a href="/postupdate/{{post.id}}/">Edit Post</a>
										</li>
										<li>
											<a href="/postdelete/{{post.id}}/">Delete Post</a>
										</li>
										<!-- <li>
											<a href="#">Turn Off Notifications</a>
										</li>
										<li>
											<a href="#">Select as Featured</a>
										</li> -->
									</ul>
								</div>
								{%endif%}
								
							</div>
							

							<p>{{post.post_write}}</p>
							{% if post.post_image.url != blank%}
							<p><img src="{{post.post_image.url}}" class="image-responsive" ></p>
							{%else%}
							<p><img src="" class="image-responsive" ></p>
							{%endif%}
							
							{% if post.post_video.url != blank%}
							<video style="width: 100%; height: auto;" controls>
								<source src="{{post.post_video.url}}" class="embed-responsive-item" > 
							  </video>
							{%else%}
							<source src="" class="embed-responsive-item" >
							{%endif%}
							<div class="post-additional-info inline-items">
								<!-- <form method="post" action="/like/{{post.id}}/" enctype="multipart/form-data">{% csrf_token %}
								
								<button type="submit" name="userpost_id" value="{{post.id}}"
								style="background-color:transparent; border:transparent;" > -->
									<!-- {% if is_liked %}
									<a href="/like/{{post.id}}/" class="post-add-icon inline-items">
										<img src="/static/img/hearticon.PNG" alt="liked">
									</a>
									{%else%} -->
									<a class="post-add-icon inline-items" data-href="/api/like/{{post.id}}/" data-likes="{{userpost.likes.count}}" href="/likepost/{{post.id}}/" >
										<svg class="olymp-heart-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
										<span>{{post.likes.count}}</span>
									</a>
									<!-- {%endif%} -->
								<!-- </button>
								
							</form> -->
							
								<!-- <ul class="friends-harmonic">
									<li>
										<a href="#">
											<img src="/static/img/friend-harmonic7.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/static/img/friend-harmonic8.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/static/img/friend-harmonic9.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/static/img/friend-harmonic10.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/static/img/friend-harmonic11.jpg" alt="friend">
										</a>
									</li>
								</ul>
						
								<div class="names-people-likes">
									<a href="#">You</a>, <a href="#">Elaine</a> and
									<br>22 more liked this
								</div>
						
						
								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-speech-balloon-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
										<span>17</span>
									</a>
						
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-share-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
										<span>24</span>
									</a>
								</div> -->
						
						
							</div>
						
							<div class="control-block-button post-control-button">
						
								<a class="btn btn-control" data-href="/api/like/{{post.id}}/" data-likes="{{userpost.likes.count}}" href="/like/{{post.id}}/" >
									<svg class="olymp-like-post-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
								</a>
						
								<a href="#comment-form" class="btn btn-control">
									<svg class="olymp-comments-post-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
								</a>
						
								<a href="#" class="btn btn-control">
									<svg class="olymp-share-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
								</a>
						
							</div>
						
						</article>
						
						<!-- Comments -->
						
						<!-- <ul class="comments-list">
							{% for comments in all_comments %}
							<li class="comment-item">
								<div class="post__author author vcard inline-items">
									{%if user.userprofile.p_photo.url != "/static/img/blank-user.png"%}
									<img src="{{user.userprofile.p_photo.url}}" alt="author">
									{%else%}
									<img src="/static/img/blank-user.png" alt="author">
									{%endif%}
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="02-ProfilePage.html">{{comments.comment_by}}</a>
										<div class="post__date">
											<time class="published" datetime="2004-07-24T18:18">
												{{comments.cm_cr_date}}
											</time>
										</div>
									</div>
						
									<a href="#" class="more"><svg class="olymp-three-dots-icon">
										<use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
						
								</div>
						
								<p>{{comments.comment}}</p>
						
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
									<span>3</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
							{%endfor%}
							<li class="comment-item">
								<div class="post__author author vcard inline-items">
									<img src="/static/img/avatar1-sm.jpg" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
										<div class="post__date">
											<time class="published" datetime="2004-07-24T18:18">
												1 hour ago
											</time>
										</div>
									</div>
						
									<a href="#" class="more"><svg class="olymp-three-dots-icon">
										<use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
						
								</div>
						
								<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
									quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
								</p>
						
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
									<span>8</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
						</ul>
						 -->
						<!-- ... end Comments -->
	
						<a href="/postdetails/{{post.id}}/" class="more-comments">View comments detail<span>+</span>
							
						</a>
						<span>{{all_comments.comment_by.count}}</span>
						<!-- Comment Form  -->
						
						<form class="comment-form inline-items" method="post" action="/commentcreate/{{post.id}}/" enctype="multipart/form-data">{% csrf_token %}
						
							<div class="post__author author vcard inline-items">
									{%if user.userprofile.p_photo.url != "/static/img/blank-user.png"%}
									<img src="{{user.userprofile.p_photo.url}}" alt="author" width="36" height="36">
									{%else%}
									<img src="/static/img/blank-user.png" alt="author" width="36" height="36">
									{%endif%}
						
								<div class="form-group with-icon-right ">
									<textarea name="comment" class="form-control" placeholder=""></textarea>

									
									<div class="add-options-message">
											<a id="upload-dialog-cm" class="options-message" data-toggle="modal" >
													<svg class="olymp-camera-icon">
														<use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
													</svg>
											</a>
											<input type="file" name="c_image" value="{{user.userpost.post_image.url}}" id="image-file-cm" accept="image/jpg,image/png" style="display: none;">
									</div>
								</div>
							</a>
							</div>
						
							<button type="submit" class="btn btn-md-2 btn-primary">Post Comment</button>
						
							<button type="reset" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
							<div id="preview-container">
									<img id="preview-image-cm" style="display:none" width="100" height="100" >
									</div>
						</form>
						
						<!-- ... end Comment Form  -->
					</div>

					{% endfor %}




			

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</main>

		<!-- ... end Main Content -->


		<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				
			
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">


			

			


			

		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>







{%endif%}
{%endblock content%}